// Colors
$violeta1: rgb(164, 144, 210);
$violetaperla: rgb(134, 115, 161);
$lirio: rgb(127, 105, 165);
$rojo1: rgb(223, 119, 126);

// Font sizes
$font-sm: 0.875rem; //14px
$font-md: 1.125rem; //18px